@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #000000;
    --secondary: #8FBC8F;
    --white: #efefef;
    --light-gray: #cfd0d8;
}

body {
    font-family: "Forum", sans-serif;
    color: var(--primary);
    background-color: var(--white);
}

#main {
    background-image: url("./img/main.jpg");
    min-height: 70vh;
    background-position: bottom center;
    background-size: cover;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1200px;
    padding: 16px;
    margin: auto;
}

.section {
    margin: 80px auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 28px;
    align-items: center;
}

.nav-list a {
    font-weight: 700;
    color: var(--white);
    transition: color 0.3s ease;
}

.nav-list a:hover {
    color: var(--primary);
}

.logo {
    width: 100px;
    /* Reduz o tamanho da logo */
    height: 100px;
    /* Mantém a altura proporcional */
    border-radius: 50%;
    /* Torna a logo circular */
    object-fit: cover;
    /* Garante que a imagem preencha o círculo sem distorções */
    margin-top: -10px;
    /* Ajuste para centralizar melhor o logo */
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    color: var(--white);
}

.main-content .intro-heading {
    font-size: 70px;
    text-align: center;
}

.main-content .main-heading {
    text-align: center;
    font-size: 100px;

}

.main-content p {
    margin-top: 40px;
    font-size: 22px;
    font-weight: 900;
    text-align: center;
}

.menu-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
    width: 30px;
}

.section-title h1 {
    font-size: 50px;
    text-align: center;
}

.section-title .line {
    width: 150px;
    height: 4px;
    background: var(--secondary);
    margin: auto;
}

.services {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
}

.service {
    width: 350px;

}

.service p {
    font-size: 25px;
}

.service img {
    max-width: 100%;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.service img:hover {
    transform: scale(1.05);
}

#testimonial {
    background: var(--light-gray);
}

#testimonial .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    gap: 30px;
    padding: 50px 16px;
}

#testimonial h1 {
    font-size: 22px;
    text-align: center;
}

#testimonial .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#testimonial .profile img {
    width: 60px;
    /* Tamanho menor para a imagem de perfil */
    height: auto;
    border-radius: 50%;
    /* Mantém o formato circular */
    object-fit: cover;
    /* Garante que a imagem se ajuste corretamente */
}

#about-us .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 120px;
}

#about-us .about-content {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

#about-us .about-content p {
    text-align: justify;
    font-size: 22px;
    padding: 15px;
}

#about-us h1 {
    font-size: 50px;
}

#about-us img {
    max-width: 300px;
    /* Limita a largura da imagem no "About Us" */
    width: 100%;
    /* Mantém responsivo */
    height: auto;
    /* Mantém a proporção da imagem */
    border-radius: 10px;
    /* Mantém as bordas arredondadas */
    object-fit: cover;
    /* Garante que a imagem se ajuste corretamente */
}



#questions {
    margin-top: 50px;
    background: var(--light-gray);
}

.container__grid {
    padding: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.resume__item:not(:first-child) {
    border-right: 2px solid var(--body-color);
}

.resume__content {
    padding-inline: 1.5rem 3rem;
}

.resume__title {
    font-size: 20px;
}

.resume__description {
    font-size: 22px;
    margin-block: 1.25rem 2rem;
}

.resume__item {
    position: relative;
}


#questions .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 120px;

}


#questions img {
    text-align: center;
    display: block;
    max-width: 320px;
    /* Limita a largura da imagem no "About Us" */
    width: 100%;
    /* Mantém responsivo */
    height: auto;
    /* Mantém a proporção da imagem */
    border-radius: 10px;
    /* Mantém as bordas arredondadas */
    object-fit: cover;
    /* Garante que a imagem se ajuste corretamente */
}

#questions h1 {
    font-size: 50px;
}

#questions .questions-content {
    max-width: max-content;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

#turma {
    margin-top: 20px;
}

#turma .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 120px;
}

#turma .turma-content {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

#turma .turma-content p {
    font-size: 22px;
    text-align: justify;
    padding: 15px;
}

#turma h1 {
    font-size: 50px;
}

#turma img {
    margin-left: -12px;
    max-width: 360px;
    /* Limita a largura da imagem no "About Us" */
    width: 100%;
    /* Mantém responsivo */
    height: auto;
    /* Mantém a proporção da imagem */
    border-radius: 10px;
    /* Mantém as bordas arredondadas */
    object-fit: cover;
    /* Garante que a imagem se ajuste corretamente */
}

footer {
    margin-top: -60px;
    background: var(--light-gray);
    
}

footer .container {
    font-weight: 900;
    font-size: 15px;
    display: flex;
    padding: 20px 10px;
    justify-content: space-between;
    align-items: center;
}


.footerLogo {
    margin-top: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.footer-links {
    display: flex;
    align-items: center;
    gap: 16px;
    list-style: none;
}

.footer-links a {
    color: var(--primary);
}

.footer-links a:hover {
    color: var(--secondary);
}

.rodape {
    margin-top: 30px;
    background-color: var(--light-gray);
    padding-block: 3rem;
}

.rodape__container {
    display: flex;
    align-items: center;
}

.rodape__logo {
    margin-top: -60px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}


/*=============== BREAKPOINTS ===============*/

/* Estilo para dispositivos grandes (até 1200px) */
@media screen and (max-width: 1200px) {
    .container {
        max-width: 1100px;
        padding: 20px;
    }

    .nav-list {
        width: 70%;
        /* Ajuste da largura do menu */
    }
}

/* Estilo para dispositivos médios (até 992px) */
@media screen and (max-width: 992px) {
    .container {
        max-width: 900px;
        padding: 20px;
    }

    .nav-list {
        width: 70%;
        /* Ajuste da largura do menu */
    }

    #about-us .container,
    #turma .container,
    #questions .container,
    #rodape .container,
    footer .container {
        gap: 24px;
    }
}

/* Estilo para dispositivos médios e menores (até 768px) */
@media screen and (max-width: 768px) {
    .menu-btn {
        display: block;
        cursor: pointer;
    }

    .nav-list {
        flex-direction: column;
        background: gray;
        position: fixed;
        top: 0;
        right: 0;
        width: 80%;
        height: 100vh;
        padding-top: 80px;
        transform: translateX(100%);
        /* Move o menu para fora da tela */
        transition: transform 0.3s ease;
        z-index: 10;
        overflow-y: auto;
        /* Permite rolar o menu se necessário */
    }

    .nav-list.active {
        transform: translateX(0);
    }

    .nav-list li:not(:last-child) {
        text-align: left;
        cursor: pointer;
        width: 100%;
        padding: 10px 30px;
        border-bottom: 1px solid var(--white);
    }

    #about-us .container,
    #turma .container,
    #questions .container,
    #rodape .container,
    footer .container {
        flex-direction: column;
        gap: 30px;
    }
}

.nav-list li a {
    display: block;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    width: 100%; /* Garante que o link cobre toda a largura do item */
}


/* Estilo para dispositivos pequenos (até 576px) */
@media screen and (max-width: 576px) {
    .nav-list {
        width: 90%;
        /* Aumenta a largura do menu para telas menores */
    }

    .nav-list li:not(:last-child) {
        padding: 10px 20px;
        /* Ajusta o padding */
    }

    .container {
        padding: 10px;
    }
}

/* Estilo para dispositivos muito pequenos (até 450px) */
@media screen and (max-width: 450px) {
    .nav-list {
        width: 100%;
        /* Ocupa a largura total */
    }

    .nav-list li:not(:last-child) {
        padding: 10px 15px;
        /* Ajuste para telas muito pequenas */
    }

    .container {
        padding: 5px;
    }

    #about-us .container,
    #turma .container,
    #questions .container,
    #rodape .container,
    footer .container {
        gap: 20px;
        /* Reduz a distância para evitar quebra de layout */
    }
}